*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1b2028;



}

.icons{
    font-size: 2.8rem;
    right: 5%;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
}

#check{
    display: none;
}


.logo{
    font-size:36px;
    color: white;
    text-decoration: none;
    font-weight: 700;

}

.menu a{
    font-size: 22px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
    
    


}



.container{
    position: relative;
    width: 80%;
    height: 50%;
    background: #1f242d;
    padding-top: 100px;
   
}



.container .video-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding: 10px;
    
}

.container .video-container .total-container{

    height: 300px;
    width: 380px;
    border: 5px solid #00abf0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    cursor: pointer;
    background: #3a4a69;
    overflow: hidden;
    margin: 8px;
}

.container .video-container .total-container p{
    
    text-align: center;
    color: white;

   
    font-size: 20px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}



.container .video-container .video{
    height: 250px;
    width: 350px;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.7);
    cursor: pointer;
    overflow: hidden;
    margin: 8px;
    
}



.container .video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container .video-container .video:hover video{
    transform: scale(1.1);
}





.container .popup-video{
    position: fixed;
    top: 0; left:0;
    z-index: 100;
    background: #1f242d;
    height: 100%;
    width: 100%;
    display: none;
}

.container .popup-video video{
    position: absolute;
    top: 50%;;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid #fff;
    object-fit: cover;
    
}

.container .popup-video span{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: #fff;
    font-weight: bolder;
    z-index:100;
    cursor: pointer;
}



@media(max-width: 1050px){
    .navbar{
        padding: 1.3rem 5%;
        z-index: 1000;
    }

    .container .popup-video span{
        position: absolute;
        top: 80px;
        right: 20px;
        font-size: 50px;
        color: #fff;
        font-weight: bolder;
        z-index:100;
        cursor: pointer;
    }
    
    

}

@media(max-width: 944px ) {
   #check:checked ~.icons #menu-icon{
       display: none;
   }

    .icons {
        display: inline-flex;
    }

    #check:checked ~.icons #close-icon{
        display: block;
    }

    .icons #close-icon{
        display: none;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
       background: black ;
       opacity: .9;
       overflow: hidden;
       transition: .3s ease;
    }

    #check:checked ~.menu {
        height: 17.7rem;
    }

    .menu a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
    }

    #check:checked ~.menu a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .container{
        top: 0;
    }

    .container .popup-video video{
        width: 95%;
    }
    
    }
