*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.logo{
    font-size:36px;
    color: white;
    text-decoration: none;
    font-weight: 700;

}

.menu a{
    font-size: 22px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
    
    


}

.menu a:hovabout-meer,
.menu a.active{
    color: #00abf0;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 200px;
}

.swiper {
    width: 70%;
    height:auto;

  }
.container .about-me{
    width: 450px;
    background: #1f242d;
    padding: 20px;
    margin: 0 auto;
    box-sizing:  0 0 5px rgba(0,0,0,0.5);
    border: 2px solid #0ef;

}
.container .about-me h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;

}
.container .about-me p{
    line-height: 1.4;
    text-align: justify;
    color: white;

}

.container .education{
    width: 450px;
    background: #1f242d;
    padding: 20px;
    margin: 0 auto;
    box-sizing:  0 0 5px rgba(0,0,0,0.5);
    border: 2px solid #0ef;

}
.container .education h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;

}
.container .education p{
    line-height: 1.4;
    text-align: justify;
    color: white;

}

.container .hobbies{
    width: 450px;
    background: #1f242d;
    padding: 20px;
    margin: 0 auto;
    box-sizing:  0 0 5px rgba(0,0,0,0.5);
    border: 2px solid #0ef;

}
.container .hobbies h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;

}
.container .hobbies p{
    line-height: 1.4;
    text-align: justify;
    color: white;

}
.container .carrier{
    width: 450px;
    background: #1f242d;
    padding: 20px;
    margin: 0 auto;
    box-sizing:  0 0 5px rgba(0,0,0,0.5);
    border: 2px solid #0ef;

}
.container .carrier h2{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;

}
.container .carrier p{
    line-height: 1.4;
    text-align: justify;
    color: white;

}














#check, #check1, #check2, #check3{
    display: none;
}
.content{
    display: none;
    transition: 0.5s linear;
}
label{
    display: inline-block;
    margin-top: 15px;
    color: #00abf0;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}
#check:checked ~ .content,
#check1:checked ~ .content,
#check2:checked ~ .content,
#check3:checked ~ .content
{
    display: block;
}
#check:checked ~ label,
#check1:checked ~ label,
#check2:checked ~ label,
#check3:checked ~ label
{
    visibility: hidden;
}

#check:checked ~ label:after,
#check1:checked ~ label:after,
#check2:checked ~ label:after,
#check3:checked ~ label:after{
    content: 'Daha Az Göster';
    display: block;
    visibility: visible;
}




