*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #1f242d;
    display: flex;
    justify-content: center;
    padding-top: 300px;
   
    
    
    
}

.navbar{
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.icons{
    font-size: 2.8rem;
    right: 5%;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
}

#check{
    display: none;
}


.logo{
    font-size:36px;
    color: white;
    text-decoration: none;
    font-weight: 700;

}

.menu a{
    font-size: 22px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
    
    


}

.menu a:hover,
.menu a.active{
    color: #00abf0;
}

.card3 a,
.card5 a{
    color: #ff9900; 
    text-decoration: none; 
}




.card,
.card2,
.card3,
.card4,
.card5{
    width: 400px;
    flex: 1;
    padding: 22px 30px;
    border-radius: 5px;
    line-height: 1.8;
    
    margin-left: 30px;
    box-sizing: border-box;
}


.card h2,
.card2 h2,
.card3 h2,
.card4 h2,
.card5 h2{
    color: white;
    
}
.card p,
.card2 p,
.card3 p,
.card4 p,
.card5 p{
    color: white;
}

#ch,
#che,
#chec,
#check,
#check1{
    display: none;
}
#ch:checked ~.content,
#che:checked ~ .content,
#chec:checked ~ .content,
#check:checked ~ .content,
#check1:checked ~ .content{
    display: block;
   
}
#ch:checked ~ label,
#che:checked ~ label,
#chec:checked ~ label,
#check:checked ~ label,
#check1:checked ~ label{
    display: none;
}



.content{
    display: none;
}

label{
    display: inline-block;
    cursor: pointer;
    
    color: #00abf0;
    text-decoration: underline;
}

