*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #081b29;
    color: #ededed;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.logo{
    font-size:36px;
    color: white;
    text-decoration: none;
    font-weight: 700;

}

.menu a{
    font-size: 22px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
    
    


}

.menu a:hover,
.menu a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-contect{
    
    max-width: 600px;
}
.home-contect h1,
.home-contect h2{
    font-size: 52px;
    font-weight: 700;
}
.home-contect h3{
    font-size: 48px;
    font-weight: 700;
    color: #00abf0;
}
.home-contect p{
    font-size: 24px;
    margin: 20px 0;
    line-height: 30px;
}

.soc-icons{
    position: absolute;
    bottom: 40px;
    width: 250px;
    display: flex;
    justify-content: space-between;

}
.soc-icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color:  #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}
.soc-icons a:hover{
    color: #081b29;
}


.soc-icons a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background:#00abf0;
    z-index: -1;
    transition: .5s;
}

.soc-icons a:hover::before{
  width: 100%;
}

