*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f242d;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

#popupmuzik a {
    color: #ff9900; 
    text-decoration: none; 
    
}

.logo{
    font-size:36px;
    color: white;
    text-decoration: none;
    font-weight: 700;

}

.menu a{
    font-size: 22px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
    
    


}

.menu a:hover,
.menu a.active{
    color: #00abf0;
}

.card-cyberpunk{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #0ef;
    position: relative;
    margin-right: 40px;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1.8s;
}

.card-cyberpunk.card-cyberpunk{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #0ef;
    position: relative;
    margin-right: 20px;
}.card-cyberpunk:hover .card-body{
    right: 0;
    
}

.card-film:hover .card-body{
    right: 0;
    
}

.card-muzik:hover .card-body{
    right: 0;
    
}

.card-title{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}

.card-info{
font-size: 16px;
line-height: 25px;
margin: 40px 0;
font-weight: 400;

}

.card-btn{
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    width: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.card-btn:hover{
    
        box-shadow: none;
    
}


.card-film{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #0ef;
    position: relative;
    margin-right: 20px;
}
.card-muzik{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #0ef;
    position: relative;
    margin-right: 20px;
}

#popup,
#popupfilm,
#popupmuzik{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80vh;
    padding: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    background: #1f242d;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    overflow-y: auto;

}
#popup.active,
#popupfilm.active,
#popupmuzik.active{
    top: 50%;
    visibility: visible;
    opacity: 0.97;
}
#popup h2,
#popupfilm h2,
#popupmuzik h2{
    color: white;
    text-align: left;
    margin:10px;
}
#popup p,
#popupfilm p,
#popupmuzik p{
    color: white;
}


.card-btnPopup {
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    width: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card-btnPopup:hover {
    box-shadow: none;
}

