*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    
    color: #ededed;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.icons{
    font-size: 2.8rem;
    right: 5%;
    color: white;
    cursor: pointer;
    display: none;
    position: absolute;
}

#check{
    display: none;
}


.logo{
    font-size:36px;
    color: white;
    text-decoration: none;
    font-weight: 700;

}

.menu a{
    font-size: 22px;
    color:white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: .3s;
    
    


}

.menu a:hover,
.menu a.activehome{
    color: #00abf0;
}

.home{
    height: 100vh;
    background: url('background1.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    padding: 0 10%;
}


.home-contect{
    
    max-width: 600px;
}
.home-contect h1,
.home-contect h2{
    font-size: 52px;
    font-weight: 700;
}
.home-contect h3{
    font-size: 48px;
    font-weight: 700;
    color: #00abf0;
}
.home-contect p{
    font-size: 24px;
    margin: 20px 0;
    line-height: 30px;
}

.responsive-img{
    
    margin-left: 1%;
   display: flex;
   justify-content: center;
   align-content: center;
   display: none;
   
  
   
   
}
.image{
    
    width: 300px;
    
   
}

.image img{
    width: 100%;
    border: 4px solid #ededed;
}

.soc-icons{
    position: absolute;
    bottom: 40px;
    width: 250px;
    display: flex;
    justify-content: space-between;

}
.soc-icons a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color:  #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
   
    transition: .5s;

}
.soc-icons a:hover{
    color: #081b29;
}


.soc-icons a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background:#00abf0;
    z-index: -1;
    transition: .5s;
}

.soc-icons a:hover::before{
  width: 100%;
}

@media(max-width: 1050px){
    .navbar{
        padding: 1.3rem 5%;
    }
}

@media(max-width: 944px ) {
   #check:checked ~.icons #menu-icon{
       display: none;
   }

    .icons {
        display: inline-flex;
    }

    #check:checked ~.icons #close-icon{
        display: block;
    }

    .icons #close-icon{
        display: none;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
       background: black ;
       opacity: .9;
       overflow: hidden;
       transition: .3s ease;
    }

    #check:checked ~.menu {
        height: 17.7rem;
    }

    .menu a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
    }

    #check:checked ~.menu a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .home{
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        
        
    }
    .home .responsive-img{
        display: block;
    }

    

    .image{
    
        width: 250px;
        justify-content: left;
        
       
    }
    .image img{
        
        width: 100%;
        border: 4px solid #00abf0;
        border-radius: 25px;
       

        
      
    }
    .home-contect{
        order: 2;
    }



.home-contect h1,
.home-contect h2{
    font-size: 36px;
    font-weight: 700;
    
}
.home-contect h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    
    
}

.home-contect p{
    font-size: 16px;
    margin: 20px 0;
    line-height: 30px;
    margin-top: 50px;

}

}

@media(max-width: 433px ){
    .home-contect h1,
.home-contect h2{
    font-size: 32px;
    font-weight: 700;
}
    
    
    
    
    .home-contect h3{
        font-size: 28px;
        font-weight: 700;
        color: #00abf0;
    }

    .home-contect p{
        font-size: 12px;
        margin: 20px 0;
        line-height: 30px;
    
    }
    .image{
    
        width: 180px;
        justify-content: left;
        
       
    }

}

